* 
{	
  	
	padding: 0;
	margin: 0;
}



html,body{
	height:100%;
	width:100%;
}
.header
{	
	height:100%;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(/static/images/gras.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-top: 20px;
	text-align: center;
	color:#fff;
}
.header img{
	width:80px;
	float:left;
	
}
.login-btn{
	width:100px;
	margin-top: 20px;
	padding:8px 0;
	outline: none !important;
	border: 2px solid #fff;
	border-radius: 50px;
	background:transparent;
	color:#fff;
	float:right;
}
.btn-primary{
	width:162px;
	margin-top: 5px;
	padding:8px 0 !important;
	outline: none !important;
	border: 2px solid #fff !important;
	border-radius: 50px !important;
	background:transparent !important;
	color:#fff;
	font-size: 25px !important;


}
.header h1 {
	padding-top: 300px;
	padding-bottom: 0;
	font-size: 46px;
}
.header p{
	margin:18px 0px;
}

.bg-modal {
	background-color: rgba(0, 0, 0, 0.9);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;

}
.bg-modal2 {
	
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}
.modal-sadrzaji {
	height: 650px;
	width: 350px;
	background-color: rgba(236, 236, 236, 1);
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}
.modal-contents {
	height: 580px;
	width: 350px;
	background-color: rgba(236, 236, 236, 1);
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

input {
	margin: 15px auto !important;
	display: block !important;
	width: 50% !important
	padding: 8px !important;
	border: 1px solid gray !important;
}
.submit-botun{
	width:120px;
	border: 2px solid #2e3131;
	border-radius: 50px;
	padding:4px 10px !important;
	margin-bottom: 80px ;
	background-color: #6c7a89;
	color:white;

}
.ostatak-botun{
	
	display:block;
	
	margin:10px auto;

}
.reg-botun{
	position:absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 10px;
}
.zatvori{
	position: absolute;
	top: 0;
	float:right;
	right: 10px;
	font-size: 1.5rem;
	color: #000 ;
	transform: rotate(45deg);
	cursor: pointer;
	font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #000 ;
	transform: rotate(45deg);
	cursor: pointer;
	&:hover {
		color: #666;
	}
}